<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>PaperRank</title>
  <meta name="description" content="PaperRank">
  <meta name="author" content="Carson">

  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/index.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">

</head>

<body>
  <div class="container-fluid d-flex flex-column align-items-center content">
    <img class="mx-auto logo-main" src="static/logo.png" />
    <p>A Reputation-based Search Engine for Academic Papers</p>
    <form action="/result" method="get">
      <div class="form-group">
        <input type="text" class="form-control searchbar" name="query" required>
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="form-control searchbutton" class="btn">Go</button>
      </div>
    </form>
  </div>

  <script src="static/js/jquery-3.3.1.slim.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
</body>
</html>
