body {
    font-family: 'Noto Sans', sans-serif;
}

.content {
    padding-top: 100px;
}

.logo-main {
    width: 400px;
    height: 150px;
    object-fit: contain;
}

.searchbar {
    width: 560px;
}

.searchbutton {
    width: 250px;
    background-color: #ddd;
}
